//=================
//Mixins
//==================

//=============Flexbox

//--------FlexContainer
@mixin flexy (
       $disp:flex,
       $dir:null,
       $wrap:null,
       $just:null,
       $align:null,
       $flow: null,
       $alignself: null,
       $alignitems: null,
       $textalign: null,
       $basis: null) {
       display: $disp;
       flex-direction: $dir;
       flex-wrap: $wrap;
       justify-content: $just;
       align-content: $align;
       flex-flow: $flow;
       align-self: $alignself;
       align-items: $alignitems;
       text-align: $textalign;
       flex-basis: $basis;
       padding: 0;
       margin: 0;
       list-style: none;
       flex-basis: 90%;
       min-width: 100%;
       padding: 1%;
}
//all body
.container {
  @include flexy($wrap: wrap, $flow: column, $just: center,  $align: center, $alignitems: center, $alignself: center);
}
//all grid rows
.grid__row {
  @include flexy($wrap: wrap,$flow: column, $just: center, $align: center, $alignitems: center, $alignself: center, $basis: 100%);
}
// card row
.card {
  @include flexy($wrap: wrap,$flow: column, $just: center, $align: center, $textalign: left, $basis: 100%)
}
//form
.form {
  @include flexy($wrap: wrap,$flow: column, $just: center, $align: center, $alignitems: center, $alignself: center, $basis: 100%);
}
  .headline--secondary {
    @include flexy($wrap: wrap, $flow: row, $basis: 100%, $just: flex-start)
  }
  //buttons
  .grid__col--12 {
      @include flexy($wrap: wrap,$flow: column, $just: center, $align: center, $alignitems: center, $alignself: center, $basis: 100%);
  }

//----------FlexItems
@mixin flexyitem(
      $flex: 1,
      $order: null,
      $alignself: null) {
      flex: $flex;
      order: $order;
      align-self: $alignself;
    }
//Form

//logo
.img--logo {
  @include flexyitem($order: 1,)
}
//=========Responsive Images
@mixin img (
      $mw: 100%,
      $height: auto ){
      max-width: $mw;
      height: $height;
}

.img--logo,
.img--frame,
.img--avatar{
  @include img;
}


//============Block Elements
@mixin block (
    $margin: null,
    $padding: null,
    $list: none,
    $textalign: null,
    $disp: null,
    $back: null,
    $radius: null,
    $width: null,
    $border: null) {
    margin: $margin;
    padding: $padding;
    list-style: $list;
    text-align: $textalign;
    display: $disp;
    background-color: $back;
    border-width: $border;
    border-radius: $radius;
    width: $width;
}
.nav__item {
  @include block ($disp: block, $list: none,$padding: 1em, $width: 100%, $textalign: center)
}

//==========Buttons
@mixin btn (
  $disp: null,
  $width: null,
  $padding: null,
  $margin: null,
  $border: null,
  $back: null,
  $color: null,
  $radius: null,
  $t-dec: null,
  $l-type: null) {
  display: $disp;
  width: $width;
  padding: $padding;
  margin: $margin;
  border: $border;
  border-radius: $radius;
  border-color: $back;
  color: $color;
  text-decoration: $t-dec;
  list-style:$l-type;
}
.btn--default,
.btn--success,
.btn--error,
.btn--warning,
.btn--info {
   @include btn($disp: block,
               $width: 100%,
               $padding: 1em,
               $margin: 10px,
               $radius: 8px,
               $t-dec: none,
               )
}

.grid__col--2,
.grid__col--3,
.grid__col--4,
.grid__col--5,
.grid__col--6,
.grid__col--7,
.grid__col--8,
.grid__col--9,
.grid__col--10,
.grid__col--11,
.grid__col--12 {

  @include btn($disp: block,
              $width: 100%,
              $padding: 1em,
              $margin: 10px,
              $radius: 8px,              
              )


}
