//===============================================
//Variables
//===============================================

//==============================================================================
//-------------------------Colors
//==============================================================================


$color-primary:#699;
$color-primary-dark: darken($color-primary, 20%);
$color-primary-light: lighten($color-primary, 20%);
$color-secondary: #6b717f;

//-----------navigation
$nav-text: #808c99;
$nav-text-dark: darken($nav-text, 25%);
$nav-text-light: lighten($nav-text, 25%);

//-----------------pure colors
$white: #fff;
$purple: #9A68C7;
$blue: #3BA9E4;
$green: #75B343;
$orange: #FF6A42;
$red: tomato;

//==============================================================================
//-------------------------Gutters
//==============================================================================

$em: 1em;
$gutter: 10px;
$standard: 25px;
$large-gut: 50px;
$max-width: 1000px;
// check this
//==============================================================================
//-------------------------Text-align
//==============================================================================

$t-a-c: center;
$t-a-l: left;
$t-a-r: right;

//==============================================================================
//-------------------------BreakPoints
//==============================================================================
$break-m: 769px;
$break-l: 1400px;

//==============================================================================
//-------------------------Typography
//==============================================================================

//-----------weight
$w-light:	300;
$w-regular:	400;
$w-bold:	600;
//-------------size
$s-small:	0.9em;
$s-regular:1em;
$s-large:	1.4em;
$s-x-large:	1.8em;
//--------------font famiy
$font-family-text: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-display:	Georgia, "Times New Roman", Times, serif;
//--------------------style
$cursive: italic;
$obligue: obligue;
//==============================================================================
//-------------------------Text Decoration
//==============================================================================
$n: none;

//==============================================================================
//-------------------------Grid
//==============================================================================
$g-col-width: 65px;
$g-gutter-width: 20px;
$g-col-count : 12;
$g-cont-max-w: 1050px;

//==============================================================================
//-------------------------Flex
//==============================================================================
$flex: flex;
$row: row;
$col: column;
$flex-wrap: wrap;
$just-center: center;
$just-space-around: space-around;
$just-space-between: space-between;
