//==============================================================================
//===============================Grid
//==============================================================================


//==============================================================================
//===============================Flex Containers
//==============================================================================
.container {
  @extend %clearfix;
  @include flexy (
                  $disp: flex,
                  $wrap: wrap,
                  $flow: column,
                  $just: center,
                  $alignitems: center,
                  $alignself: center,
                  $width: 90%,
                  $margin: 0,
                  $padding: 0,
  );
}
.grid__row {
  @extend %clearfix;
  @include flexy (
                  $disp: flex,
                  $wrap: wrap,
                  $flow: column,
                  $just: center,
                  $alignitems: center,
                  $alignself: center,
                  $width: 90%,
                  $margin: 0,
                  $padding: 0,
  );
  @include desktop-large {
      @include flexy (
                   $flow: row,
                   $width: 100,
                   $just: space-between,
                   $alignitems: baseline,
                   $padding: 2% ) {
  }
    }
}
.theme__colors {
   width: 100%;

}
// Make nested grid 100% ----does it work?
[class*="grid__col--"] > {
  width: 100%;
}

//==============================================================================
//===============================Flex Items
//==============================================================================
//1 logo
.grid__col--3 {
  @include flexyitem (
                  $order:-1,
                  $flex: 1 100%,
);
}
//2 navigation
.grid__col--9 {
  @include flexyitem (
                    $order:0,
                    $flex: 1 100%,
                    $alignself: center,
  );
}
//3 paragraf
.grid__col--12 {
  @include flexyitem (
                    $order: 3,
                    $flex: 1 100%,
  );
  @include desktop-large {
    @include flexy(
    ){
    }
  }
}
//4 main content
.grid__col--8 {
  @include flexyitem (
                    $order: 4,
                    $flex: 1 100%,
  )
}
//5 - form
.grid__col--4 {
  @include flexyitem (
                    $order: 5,
                    $flex: 1 100%,
  )
}
//6 - images
.grid__col--6 {
  @include flexyitem (
                    $order: 6,
                    $flex: 1 100%,
                    $alignself: center,
                    );
                    padding-left: 15%;
                    padding-right: 5%;
}
//7 buttons
.grid__col--12 {
  @include flexyitem (
                    $order: 7,
                    $flex: 1 100%,
  );
}
//1
.grid__col--12.theme__colors {
  @include grid(1);
  &:last-of-type {
    margin-bottom: 2em;
}
}
//2
.grid__col--6.theme__colors {
@include grid(2);
&:last-of-type {
  margin-bottom: 2em;
}
}
//3
.grid__col--4.theme__colors{
  @include grid(3);
    &:last-of-type {
      margin-bottom: 2em;
    }

}
//4
.grid__col--3.theme__colors {
  @include grid(4);
    &:last-of-type {
      margin-bottom: 2em;
  }
}
//5
.grid__col--5.theme__colors {
  @include grid(1.4)
}
.grid__col--7.theme__colors {
  @include grid(1);
  &:last-of-type {
    margin-bottom: 2em;
}
}
//6
.grid__col--8.theme__colors {
  @include grid(2)
}
.grid__col--4.theme__colors {

}
//7
.grid__col--7.theme__colors .centered {
   @include grid(1)
}
//==============================================================================
//===============================Forms
//==============================================================================
.form {
  @include flexy (
                  $disp: flex,
                  $wrap: wrap,
                  $flow: column,
                  $alignitems: center,
                  $just: center,
                  $padding: 0 0  0 5%,
  )
}

.form__label--hidden  {
  @extend %form-label;
}
.form__input {
  @extend %form-input;
}
//==============================================================================
//===============================Headline
//==============================================================================
.headline--secondary {
  @include flexyitem (
                     $alignself: flex-start,
                     $padding: 0 0 0 1%,
  );
}
