/*
$ui-colors: (
	default : $fountain-blue,
	success : $emerald,
	error   : $sunglo,
	warning : $coral,
	info    : $purple-majesty
);
$fountain-blue  : #52bab3;
$emerald        : #5ece7f;
$sunglo         : #e67478;
$coral          : #ff784f;
$purple-majesty : #9279c3;
$scooter        : #39add1;
*/
// does not work here
// ==================Colors Change
  @each $item in $grid-items {
  .theme__colors.grid__col--#{$item} {
    background: map_get($grid-colors, $item);
  }
}
