//==============================================================================
//-------------------------Typography
//==============================================================================
.container{
  font-family: $font-family-text;
  font-weight: $w-regular;
  font-size: $s-regular;
  .link {
    font-weight: $w-light;
    font-size: $s-regular;
    font-family: $font-family-text;
  }
  .blockquote{
    font-weight: $w-light;
    font-style: $cursive;
    font-size: $s-regular;
    font-family: $font-family-display;
  }
  .headline--primary{
    font-weight: $w-bold;
    font-size: $s-x-large;
    font-family: $font-family-display;
    color: $color-primary;
  }
  .headline--secondary {
    font-family: $font-family-display;
    font-weight: $w-light;
    font-size: $s-large;
    color:$nav-text;
  }

}
