//=================
//Header content
//==================

//----Nested Navigation
.nav__item  {

  li {

}
  a {
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    color: $nav-text;
    padding: .75em 1.5em;
    min-width:2000px;
    //use width 100% doesn ´t work

      &:hover {
        background-color: $color-secondary;
        color: $white;
        border-radius: $em;
      }
      &:active {
        background-color: $color-primary;
      }
}
}
