//=================
//Main content
//==================
//--------all body layout
.container {
  @include flexy($wrap: wrap, $flow: column, $just: center,  $align: center, $alignitems: center, $alignself: center);
  @extend %clearfix;
    @include desktop-large {

    }

}
//all grid layout
.grid__row {
  @include flexy($wrap: wrap,$flow: column, $just: center, $align: center, $alignitems: center, $alignself: center, $basis: 100%);
  @extend %clearfix;
}
// card layout
.card {
  @include flexy($wrap: wrap,$flow: column, $just: center, $align: center, $textalign: left, $basis: 100%);
  &headline--primary {
   padding-left:$em;
  }
  &-blockquote {
    text-align: $t-a-c;
    padding-bottom:$em;
    border-left: 3px solid green;
  }
}

//form layout
.form {
  @include flexy($wrap: wrap,$flow: column, $just: center, $align: center, $alignitems: center, $alignself: center, $basis: 100%);
  &__label--hidden {
    display: none;
  }
  &__input {
        border-top: none;
        border-bottom: 4px solid green;
        border-left: none;
        border-right: none;
        padding: $em;
        margin:$em;
  }
}

//---------Headings

//headline--primary

// headline--secondary layout
.headline--secondary {
  @include flexy($wrap: wrap, $flow: row, $basis: 100%, $just: flex-start);
      text-align: $t-a-l;
      margin-right: 70%;
      padding-bottom: $em;
  }

  //images layout
.grid__col--6 {
    @include flexy ($wrap: wrap, $flow: column, $just: center, $align: center, $alignitems: center, $alignself: center, $basis: 100%);
  }
//buttons
.grid__col--12 {
  @include flexy($wrap: wrap,$flow: column, $just: flex-start, $align: center, $alignitems: center, $alignself: center, $basis: 100%);
  }
  //----------Grid System layout


//------Grid themes display
.grid__row {

    .grid__col--12.theme__colors {
        @include btn(
                    $disp: block,
                    $width: 100%,
                    $padding: 1em,
                    $margin: 10px,
                    $radius: 8px,
                    );
        background-color: lightgreen;
      }
    .grid__col--6.theme__colors {
        @include btn(
                    $disp: block,
                    $width: 100%,
                    $padding: 1em,
                    $margin: 10px,
                    $radius: 8px,
                    );
        background-color: darkblue;
      }

      .grid__col--4.theme__colors   {
        @include btn(
                    $disp: block,
                    $width: 100%,
                    $padding: 1em,
                    $margin: 10px,
                    $radius: 8px,
                    );
        background-color: lightblue;
      }
      .grid__col--3.theme__colors  {
        @include btn(
                    $disp: block,
                    $width: 100%,
                    $padding: 1em,
                    $margin: 10px,
                    $radius: 8px,
                    );
        background-color: $purple;
      }
      .grid__col--5.theme__colors  {
        @include btn(
                    $disp: block,
                    $width: 100%,
                    $padding: 1em,
                    $margin: 10px,
                    $radius: 8px,
                    );
        background-color: $green;
      }

      .grid__col--7.theme__colors   {
        @include btn(
                    $disp: block,
                    $width: 100%,
                    $padding: 1em,
                    $margin: 10px,
                    $radius: 8px,
                    );
        background-color: red;
      }
      .grid__col--8.theme__colors  {
        @include btn(
                    $disp: block,
                    $width: 100%,
                    $padding: 1em,
                    $margin: 10px,
                    $radius: 8px,
                    );
        background-color: $orange;
      }
}
